@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.banner-image {
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f8f8f8;
    background: url('../img/home\ bg.png') no-repeat center;

    overflow: hidden;
    background-size: cover;
    height: 620px;
}

.inner-banner-image {
    padding-top: 12%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 78%;
    padding: 40px 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-weight: bold;
}

.inner-banner a {
    text-decoration: none;
    background-color: transparent;
    color: rgb(20, 32, 209);
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}

.inner-banner a:hover {
    transition: .5s;
    font-weight: bold;
    color: red
}

.banner-content h1 {
    font-family: cursive;
}

.banner-content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-bottom: 12%;
    color: rgb(6, 11, 83);
    font-weight: bold;
    max-width: 660px;
    font-family: cursive;
    
}

p {
    font-size: 20px;
}

header {
    height: 40px;
    border: 1px solid transparent;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

nav {
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
}

nav ul {
    float: right;
    position: fixed;
    top: 0px;
    width: 100%;
}

nav ul li {
    font-size: 15px;
    font-family: serif;
    display: inline-block;
    margin-right: 18px;
    padding: 0px 2PX;
    transition: 0.8s;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(33, 75, 122);
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 2PX;
}

nav ul li a:hover {
    color: black;
    background-color: whitesmoke;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
    color: grey;
}
